{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "airbnb",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "quotes": "off",
    "no-throw-literal": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["warn", { "devDependencies": true }],
    "import/extensions": [
      "error",
      {
        "ts": "never",
        "js": "never"
      }
    ],
    "prettier/prettier": "error",
    "@typescript-eslint/quotes": ["error"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-throw-literal": "warn"
  },
  "env": {
    "jest": true
  }
}
